* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/* Navbar */

.Logo {
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  color: #083b87;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
li {
  padding: 23px;
  border-radius: 7px;
}
li:hover a {
  color: white;
  transition: 0.4s;
}
li:hover {
  background-color: #083b87;
  transition: 0.4s;
}
nav {
  height: 65px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0 25px;
}
.NavBar {
  display: flex;
}

/* Banner(index) */

.centered {
  width: 100%;
  height: 85vh;
  background: url(./Royal.jpg);
  background-size: cover;
  background-position: top;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text {
  font-size: 3.7rem;
  font-style: italic;
  color: #0b2142;
  text-shadow: 3px 3px 5px grey;
}
/* Info(index) */

.info {
  padding: 40px;
}
.lastP {
  margin-top: 30px;
}

/* Royal-family */

.royal {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.royal img {
  width: 250px;
  height: 370px;
  border-radius: 5px;
}
.royal div h3 {
  margin-top: 20px;
  text-align: center;
}
.royal div {
  margin-bottom: 25px;
}
.royal-header {
  padding: 35px 120px;
  font-style: italic;
}

/* contact-page */

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  margin: 20px auto;
  height: auto;
}
form label,
input,
textarea {
  width: 90%;
  padding: 5px 5px;
}
form button {
  align-self: flex-end;
  margin-right: 4.4%;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: #292b2c;
  color: #ddd;
  font-weight: bold;
}
form button:hover {
  border: 1px solid #292b2c;
  background-color: #ddd;
  color: #292b2c;
  transition: 0.4s;
  cursor: pointer;
}
form textarea {
  font-size: 20px;
}
form label {
  font-weight: bold;
}

/* Assets Page */

table {
  margin: 0 auto;
  height: auto;
  width: 82%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
table tr td {
  padding: 10px 0;
  height: 20px;
}
table tr th,
td {
  border: 1px solid black;
}
table tr th {
  background-color: darkgrey;
}
table tr:nth-child(even) {
  background-color: lightgrey;
}
